@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
:root {
  --svg-light-filter: invert(2%) sepia(30%) saturate(7484%) hue-rotate(224deg)
    brightness(90%) contrast(101%);
  --svg-filter: var(--svg-light-filter);
  --dark950: #083344;
  --dark800: #155e75;
  --light200: #a5f3fc;
  --mid: #0e7490;
  --hit: #fed7aa;
  --sunk: #fca5a5;
  --miss: #cffafe;
  --canPlace: #6ee7b7;
  --cantPlace: rgba(252, 165, 165, 0.8);
}

html {
  height: 100%;
  /*font-family: "Pacifico", cursive;*/
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}
body {
  color: var(--dark800);
  display: grid;
  height: 100%;
  margin: 0;
  background-color: var(--light200);
}
body h1 {
  position: absolute;
  justify-self: center;
}
.container {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainMenuContainer {
  background-color: var(--dark800);
  display: grid;
  height: 100%;
  width: 50%;
  height: 50%;
  border-radius: 16px;
  align-items: center;
  justify-items: center;
  gap: 16px;
}
.opponentTypeArea,
.opponentTypeArea div {
  display: flex;
}
.opponentTypeArea {
  flex-direction: column;
  align-items: center;
}
.opponentTypeArea input[type="radio"] {
  display: none;
}
.pushable {
  background-color: var(--dark950);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 12px 42px;
  background-color: #0e7490;
  color: white;
  transform: translateY(-4px);
  will-change: transform;
  transition: 250ms;
}
.pushable .front {
  border-radius: 12px;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}
.pushable:hover .front {
  transform: translateY(-6px);
}
.pushable:active .front {
  transform: translateY(-2px);
}
.rightLabel,
.leftLabel {
  background-color: var(--dark950);
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  width: 50%;
}
.leftLabel .front,
.leftLabel {
  border-radius: 12px 0 0 12px;
}
.rightLabel,
.rightLabel .front {
  border-radius: 0 12px 12px 0;
}

input:checked + .rightLabel .front,
input:checked + .leftLabel .front {
  transform: translateY(-2px);
}
.boardsArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10vw;
  align-items: center;
  justify-content: center;
}
.editBoard {
  grid-column: 1 / span 2;
  position: relative;
  align-self: center;
  justify-self: center;
  padding: 1rem;
  display: flex;
  gap: 2rem;
  border-radius: 16px;
  background-color: var(--mid);
  color: var(--light200);
}
.editBoard .editBoardArea {
  background-color: var(--light200);
  z-index: 1;
}
@media only screen and (max-width: 900px) {
  body h1 {
    position: relative;
  }
}
.gameBoard {
  border: 2px solid var(--dark800);
  height: clamp(400px, 25vw, 25vw);
  width: clamp(400px, 25vw, 25vw);
  display: flex;
  flex-wrap: wrap;
}
.P1 {
  grid-column: 1 / span 1;
  grid-row: 1;
}
.P2 {
  grid-column: 2 / span 1;
  grid-row: 1;
}
.tile {
  height: 10%;
  width: 10%;
  box-sizing: border-box;
  border: 2px solid var(--dark800);
}
.cell {
  position: relative;
  height: 100%;
  width: 100%;
}
.hit {
  background-color: var(--hit);
  content: "✖";
}
.sunk {
  background-color: var(--sunk);
  display: flex;
  align-content: center;
  color: #0f172a;
}
.miss {
  background-color: var(--miss);
}
.switchBtn {
  position: absolute;
  align-self: center;
  justify-self: center;
}
.ship {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 5;
  transform-origin: center;
}
.shipImg {
  transform-origin: center;
  position: relative;
}
.edit .shipImg:hover {
  opacity: 50%;
}
.movingShip .ship {
  z-index: -1;
}
.canPlace,
.cantPlace {
  z-index: 9;
  opacity: 100% !important;
}

.canPlace {
  background-color: var(--canPlace) !important;
}
.cantPlace {
  background-color: var(--cantPlace) !important;
}
.btnsDiv,
.msgArea {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.btnsDiv h2,
.msgArea h2 {
  grid-column: 1 / span 2;
  text-align: center;
}
.gameOverDia[open=""] {
  color: var(--dark950);
  z-index: 11;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  border: 0;
  border-radius: 16px;
  background-color: rgba(165, 243, 252, 0.8);
}
.closeDiaBtn {
  border: 0;
  background: transparent;
  position: absolute;
  top: 5px;
  right: 5px;
}
.closeBtnImg {
  height: 30px;
  width: auto;
  filter: var(--svg-filter);
}
